/* ESTILOS MEJORES MOMENTOS / HIGHLIGHTS */

.layout__highlights {
    grid-area: high;
    margin-bottom: 3rem;
}

.highlights__posts,
.posts__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.highlights__post,
.posts__post {
    flex-basis: 33%;
    height: 100%;
    border-bottom: 2px solid var(--color-bg-marquee);
}

.highlights__image,
.post__container-image {
    position: relative;
    overflow: hidden;
}

.highlights__img,
.post__img {
    transition: all 300ms ease;
}

.highlights__img:hover,
.post__img:hover {
    transform: scale(1.1);
}

.highlights__title,
.post__title {
    font-size: 1.9rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.highlights__link,
.post__link {
    color: var(--color-titles);
    transition: all 300ms;
}

.highlights__title:hover>.highlights__link,
.post__title:hover>.post__link {
    color: var(--color-secondary);
}

.highlights__meta {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}

.highlights__description,
.post__description {
    color: var(--color-titles);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.highlights__footer-post,
.footer-post__container,
.footer-info__container,
.post__footer-post,
.recent__meta-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-basis: 21%;
}

.footer-post__container,
.footer-info__container,
.recent__meta-info {
    gap: 1rem;
}

.recent__comments>a,
.footer-post__comments>a {
    display: inline;
}












